<h3 class="display-3">Liste de Jeux</h3>
<ng-container *ngIf="gameService.isLoading$ |async;else elseBlock">
  <app-spinner></app-spinner>
</ng-container>
<ng-template #elseBlock>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Description</th>
    <th style="width: 20%;" scope="col">Action</th>
  </tr>
  </thead>
  <tbody *ngFor="let item of game|slice:(page-1) * pageSize:(page-1) * pageSize + pageSize">
    <tr>

        <th scope="row">
          <ng-container *ngIf="loadImage">
            <a routerLink="detail/{{item.id}}"><img src="{{item.image}}" class="d-block w-100 position-relative" alt="..."></a>
          </ng-container>
        </th>

      <th class="titre">{{item.nom}}</th>
      <th>{{item.description}}</th>
      <th><a class="btn btn-primary" routerLink="edit/{{item.id}}">Editer</a></th>
    </tr>
  </tbody>
</table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="game.length"
  ></ngb-pagination>
</ng-template>
